<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#content},~{::title})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${loggedUser.name}+' | Dashboard'">Dashboard</title>

</head>

<body>

    <div id="content">

        <!-- sidebar -->
         <!-- When user is log in sidebar -->

        <div th:if="${loggedUser}">
            <div th:replace="~{user/sidebar :: sidebar}"></div>
        </div>

        <div  class="sm:pl-64 pt-20" style="height: 1000px;">
            <div class="flex justify-center flex-col items-center">
                <h1 class="text-3xl">Welcome to Dashboard</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui nihil quisquam ex possimus recusandae eos
                    adipisci autem architecto pariatur</p>
            </div>
        </div>
    </div>
    

    <script>
        console.log("Profile Page");
    </script>

</body>

</html>