<!DOCTYPE html>
<html lang="en" th:replace="~{base::parent(~{::#same},~{::title})}" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    
</head>

<body>
    <div id="same" class="w-1/2 mx-auto mt-4 p-4 flex flex-col justify-center items-center space-y-3">
        <h1>Welcome To Contact Us Page</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia, repellat inventore. Eaque, ut sed ipsam voluptas aspernatur modi temporibus ipsa architecto qui rem quis expedita ab, ea, numquam impedit quam similique illo perspiciatis nemo nostrum non possimus? Soluta ab ea voluptatem facere atque ipsam, fugiat iure, accusamus obcaecati inventore quasi.</p>
    </div>


   
</body>

</html>